# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json
# large videos
assets/**/videos/*.mp4

# large videos (do not commit)
assets/**/videos/*.mp4
*.mp4
